@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Amatic+SC:wght@400;700&display=swap");

:root {
  --color-primary: #e6e6e6;
  --color-secondary: #ffffff;
  --color-background: #222831;
  --color-accent: #53cff1;
  --border-radius: 0.5rem;
  --font-titles: "Frank Ruhl Libre", serif;
  --font-body: "Amatic SC", sans-serif;
}

body {
  color: var(--color-primary);
  background-color: var(--color-background);
  font-family: var(--font-body);
  text-align: center;
  padding: 0;
  margin: 0;
}

header {
  padding: 1rem;
  background-color: var(--color-accent);
}

h1 {
  font-family: var(--font-titles);
  font-size: 2.5rem;
  color: var(--color-secondary);
}

p {
  font-size: 1.5rem;
}
.main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.button-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.btn {
  background-color: var(--color-accent);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #3da5b0;
}

.hidden-message {
  display: none;
  font-size: 1.3rem;
  color: var(--color-accent);
  margin-top: 1rem;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.popup-image {
  max-width: 90%;
  max-height: 80%;
  border-radius: var(--border-radius);
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

footer {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--color-accent);
  color: var(--color-secondary);
}

footer a {
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 1.2rem;
}

footer a:hover {
  text-decoration: underline;
}
.coming-soon-main {
  text-align: center;
  padding: 2rem;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.countdown p {
  background-color: var(--color-accent);
  color: white;
  padding: 0.8rem;
  border-radius: var(--border-radius);
  font-size: 1.5rem;
  font-weight: bold;
}
